<nav class="navbar">
  <button
    class="navbar-burger"
    role="navigation"
    onclick="document.querySelector('.navbar-collapse').classList.toggle('navbar-expand');"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="navbar-brand">
    <img src="/images/brand.svg" alt="Brand logo" class="brand" />
  </div>
</nav>
<div class="navbar-collapse">
  <!-- <img src="images/me.jpg" alt="José Almir avatar" class="circle-avatar" />
  <p class="bio">
    Olá, meu nome é Almir. Sou um desenvolvedor mobile interessado em criar
    soluções criativas para as pessoas.<br /><br />
    <a href="about.html">Saiba mais sobre mim</a>
  </p>
  <div class="social-media-links">
    <a
      class="external-link"
      href="https://github.com/jrcodev"
      title="Visite meus projetos open-source"
      target="_blank"
    >
      <i class="fab fa-github-alt"></i>
    </a>
    <a
      class="external-link"
      href="https://www.linkedin.com/in/jrcodev/"
      title="Veja meu perfil profissional"
      target="_blank"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a
      class="external-link"
      href="mailto:jr.cod.dev@gmail.com"
      title="Me mande um email"
      target="_blank"
    >
      <i class="fas fa-envelope"></i>
    </a>
    <a
      class="external-link"
      href="https://t.me/jrcodev"
      title="Fale comigo"
      target="_blank"
    >
      <i class="fab fa-telegram-plane"></i>
    </a>
  </div>
  <hr /> -->
  <nav class="navigation">
    <a href="/">
      <i class="fas fa-home"></i>
      Início
    </a>
    <!-- <a href="blog.html">
      <i class="fas fa-bookmark"></i>
      Postagens
    </a> -->
    <a href="about.html">
      <i class="fas fa-user"></i>
      Sobre mim
    </a>
  </nav>
</div>
